<div class="categories-container">
  <div class="form-container">
    <h2 class="categories-title">Categories</h2>

    <form [formGroup]="searchForm">
      <input type="text" formControlName="search" />
    </form>
  </div>
  <div class="categories-wraper">
    <div class="row" *ngFor="let category of categories">
      <div class="card-wraper">
        <div class="card-container">
          <img
            src="{{ category.thumb }}"
            alt="{{ category.name }}"
            style="width: 100%"
          />
          <div>
            <h2 class="card-title">{{ category.name }}</h2>
            <p>
              <button
                (click)="onClickDetail(category.name)"
                class="card-button"
              >
                Detail
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
