.food-details-container {
  width: 580px;
  margin: 20px auto;
  padding: 10pxx;
}

.component-wraper{
  margin-bottom: 200px;
}

p {
  font-size: 1.5rem;
}

.img-category {
  width: 560px;
  height: 280px;
}

img {
  width: 100%;
  height: 100%;
}

.category-name {
  margin: 10px;
}

.category-description {
  margin: 20px 10px;
}
