<div class="policy-div">
    <h2 class="policy-heading">
        Rafe in the Box
        <br>
        RESTAURANT POLICIES AND RULES</h2>
        <br>
    <h4 class="policy-subtitle">Restaurant Policies and Rules</h4>
    <p>We've developed these policies and rules at RAFE IN THE BOX to create a good working environment for employees and
        an enjoyable dining experience for our guests. Therefore, you are responsible for closely observing these policies and
        rules. Although the employment relationship is one which may be terminated by you or the company, with or without cause
        at any time, the following are some of the actions which are violations of restaurant policies and rules, and which also may
        result in disciplinary action, up to and including termination. </p>
    <h4 class="policy-subtitle">Restaurant Employee Hamburger Safety Commitment</h4>
    <p>I will not handle raw hamburger patties with my bare hands. I will verify cooked patty doneness by visual check of each
        patty. I am aware that a fully cooked patty must reach a minimum internal temperature of 155 degrees.
        The Restaurant Policies and Rules lists several basic employment policies and rules for which every employee is
        responsible. It identifies standards of behavior that, when violated, will result in disciplinary action up to and including
        termination. </p>
    <h4 class="policy-subtitle">GENERAL CONDUCT ITEMS</h4>
    <p> 1. Discrimination against other employees or guests. <br>
        2. Dishonesty or discourtesy. <br>
        3. Not cooperating with fellow employees or management or insubordination (not following directions.) <br>
        4. Fighting, threatening bodily injury to another employee or guest. <br>
        5. Any type of horseplay. <br>
        6. Verbal or physical confrontation with another employee or with a guest. <br>
        7. Violation of Company drug or alcohol policy. <br>
        8. Having a firearm or weapon on the premises except where permitted by law. <br>
        9. Eating, chewing gum, using cell phone or taking breaks in food-serving areas. <br>
        10. Smoking anywhere on RAFE IN THE BOX property. <br>
        11. Unethical conduct, including but not limited to falsifying timecards, manipulating VOG results and parking
        cars. <br>
        12. Behavior that the Company reasonably believes is harassment or otherwise inappropriate. <br>
        13. Misrepresentation or concealment of a material fact on employment application. <br>
        14. Failing to report policy or rule violations. <br>
        15. Failure to cooperate in an investigation. <br>
        16. Violation of Food Safety Policies and Procedures. </p>
    <h4 class="policy-subtitle">CASH CONTROL</h4>
    <p> 1. Unauthorized taking of money, food or property from the restaurant or from a fellow employee. <br>
        2. Eating food that has not been paid for or giving out free food or drinks to anyone. <br>
        3. Failure to ring up a sale in its entirety. <br>
        4. Failure to adhere to restaurant cash-handling procedures. <br>
        5. Coming up over or short in a cash drawer. <br>
        6. Vandalism or damage of Company property. <br>
        7. Leaving back door of restaurant open or unlocked: exiting/entering through back door at beginning or end of
        shift or after dark. <br>
        8. Permitting visitors in work area or in dining room after closing, without consent of Assistant Manager or
        Restaurant Manager.</p>
</div>